@charset "utf-8";
/*/RESET CSS/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*/FIN RESET CSS/*/
/*/DÉBUT GÉNÉRAL/*/
body{
	font-size:100%;
}
#wrapper{
	height:auto;
	width:100%;
}
h1{
	font-size:2.5em;
	font-family: 'bebas_neuebold';
	color:white;
}
h2{
	font-size:2.3em;
}
h3{
	font-size:2.1em;
}
p{
	font-size:1.8em;
	font-family: 'Myriad Pro Regular';
}
li{
	font-size:1.5em;
}
.titreSection{
	font-family: 'bebas_neuebold';
	color:#406375;
}
/*/FIN GÉNÉRAL/*/
/*/DÉBUT HEADER/*/

header{
	height:840px;
	width:100%;
	position:relative;
	z-index:1;
	background-image:url('../images/bgHeaderAccueil.jpg');
	background-repeat: no-repeat;
}
#cover{
	height:717px;
	width:100%;
	background-color:rgba(43,61,79,0.5);
	position:absolute;
	z-index:5;
	top: 123px;
	text-align:center;
}
/*/DÉBUT NAV/*/
nav{
	height:120px;
	width:100%;
	position:relative;
	z-index:10;
	background-color:rgba(43,61,79,0.7);
	border-bottom:3px solid white;
}
#logo{
	margin:1% 0 0 2.5%;
	float:left;
	max-height:100%;
}
#titreTechnique{
	float:left;
	margin:44px 0 0 0.8%;
}
nav ul{
	display:inline;
	float:right;
	position:relative;
	padding:44px 0 0 0;
	width:44.5%;
}
nav li{
	display:inline;
	float:right;
	padding:0 2% 0 2%;
	font-family: 'bebas_neue_regularregular';
	color:white;
	font-size:1.5em;
}
#flecheNav{
	width: 20px; 
	height: 20px; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefe3;
	position:relative;
	float:right;
}
.ligne{
	width:3px;
	height:76px;
	background:#efefe3;
	display:inline-block;
	position:relative;
	float:right;
}
.trapeze{
	border-top: 50px solid white;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	width:23%;
	position:relative;
	z-index:6;
	float:right;
	margin:0 10% 0 0;
}
.menuTrapeze{
	color:#406375;
	font-size:0.9em;
	position:relative;
	top:-30px;
	display:inline;
	width:20%;
	margin:auto;
}
.menuTrapeze:last-child{
	text-align:right;
}
.menuTrapeze a{
	padding:5%;
}
#btnDecouvrir{
	text-align:center;
	color:white;
	border:7px solid white;
	width:36%;
	margin:auto;
	margin-top:255px;
	-webkit-transition: 500ms ease-out;
    -moz-transition: 500ms ease-out;
    -o-transition: 500ms ease-out;
    transition: 500ms ease-out;
}
#btnDecouvrir:hover{
	background-color:#3a5061;
	-webkit-transition: 500ms ease-out;
    -moz-transition: 500ms ease-out;
    -o-transition: 500ms ease-out;
    transition: 500ms ease-out;
}
#texteBtnDecouvrir{
	padding:50px 7% 50px 7%;
	font-size:2em;
	font-family: 'Myriad Pro Bold Condensed';
}
#sectionLogoSociaux{
	text-align:center;
	margin-top:150px;
}
.logoSociaux{
	padding:1%;
}
/*/FIN HEADER/*/
/*/DÉBUT HAUT PAGE CONTENU/*/
.contenuGeneral{
	height:auto;
	width:90%;
 	background-color:#3a5061;
 	border-top:12px solid #5d7e8c;
 	color:white;
 	padding:50px 5% 50px 5%;
}
.contenuGeneral h2{
    font-family: 'bebas_neuebold';
	padding-bottom:40px;
}
.contenuGeneral P{
	font-family: 'Myriad Pro Condensed';
	line-height:35px;
}
/*/FIN HAUT PAGE CONTENU/*/
/*/DÉBUT MENU FOOTER/*/
.menuFooter{
	height:auto;
	padding: 59px 5% 59px 5%;
	background-color:#ecf0f1;
	width:90%;
	position:relative;
	overflow:hidden;
}
.blocMenuFooter{
	width:26.6%;
	margin: 0 2% 0 2%;
	background-color:white;
	height:auto;
	position:relative;
	padding:60px 1.2% 60px 1.2%;
	float:left;
	display:block;
}
.blocMenuFooter h3{
	text-align:center;
	color:#406375;
	font-family: 'Myriad Pro Bold';
}
.blocMenuFooter p{
	color:#406375;
	line-height:35px;
	margin-top:50px;
	height:340px;
	position:relative;
	float:left;
}
.blocMenuFooter ul{
	font-family: 'bebas_neuebold';
	float:left;
	color:#406375;
	line-height:35px;
	width:100%;
	position:relative;
}
.blocMenuFooter li{
	background: url(../images/flecheList.png) no-repeat right;
	list-style-type:none;
	-webkit-transition: 500ms ease-out;
    -moz-transition: 500ms ease-out;
    -o-transition: 500ms ease-out;
    transition: 500ms ease-out;
     background-position: 98% 0.12em;
}
.blocMenuFooter li:Hover{
	background-position: 90% 0.12em;
	-webkit-transition:500ms ease-out;
    -moz-transition: 500ms ease-out;
    -o-transition: 500ms ease-out;
    transition: 500ms ease-out;
}
/*/FIN MENU FOOTER/*/
/*/DÉBUT FOOTER NAV/*/
.footerNav{
	width:100%;
	height:auto;
	background-color:#3a5061;
	position:relative;
	padding:50px 0 50px 0;
	overflow:hidden;
}
.footerNav h3{
	font-family: 'bebas_neuebold';
	margin-bottom:10px;
}
.footerNav li{
	font-family: 'bebas_neue_regularregular';
	line-height:40px;
}
.footerNav ul{
}
.blocFooterNav{
	width:20%;
	float:left;
	color:white;
}
.blocCentreContenu{
	margin:0 auto;
	width:86%;
}
/*/FIN FOOTER NAV/*/
/*/DÉBUT FOOTER/*/
footer{
	width:100%;
	height:auto;
	padding: 20px 0 20px 0;
	background-color:#6a7783;
	overflow:hidden;
}
.logoFooter{
	width:5%;
	padding:0 1%;
}
footer p{
	clear:both;
	font-size:1.3em;
	color:white;
	text-align:left;
}
#coordonees{
	display:inline-block;
	margin-left:3%;
}
#copyrights{
	float:right;
	margin-top:20px;
}
/*/FIN FOOTER/*/
/*/PAGE ACCUEIL DÉBUT/*/
	
	/*/DÉBUT ACTUALITÉS/*/
	#actualites{
		width:90%;
		height:auto;
		background-color:#ecf0f1;
		padding:70px 5%;
	}
	.blocActualites{
		background-color:white;
		width:25%;
		height:auto;
		margin:50px 0 70px 5.5%;
		display:inline-block;
		border-left:12px solid #5d7e8c;
	}
	.blocActualites:last-child{
		margin-right:0%;
	}
	.banniereActualite{
		width:100%;
		max-width:100%;
	}
	.blocActualites h3{
		font-family: 'Myriad Pro Bold';
		padding:10px 3% 10px 3%;
		color:#406375;
	}
	.blocActualites p{
		padding:0 3% 20px 3%;
		color:#406375;
	}
	.dateActualite{
		font-size:1.3em;
	}
	.lienLireSuite{
		float:left;
	}
	.flecheLireSuite{
		max-width:5%;
		float:left;
		margin-top:4px;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.lienLireSuite:hover ~ .flecheLireSuite{
		margin-left:10%;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.btnActualites{
		margin:auto;
		width:20%;
		border:7px solid #5d7e8c;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.btnActualites:hover{
		background-color:white;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.btnActualites p{
		text-align:center;
		color:#5d7e8c;
		margin:30px 0 30px 0;
		font-family: 'Myriad Pro Bold';
	}
	/*/FIN ACTUALITÉS/*/
	
	/*/DÉBUT PROJETS ACCUEIL/*/
	#lesProjetsAccueil{
		width:90%;
		height:auto;
		padding:70px 5%;
		overflow:hidden;
	}
	#lesProjetsAccueil .titreSection{
		margin-bottom:50px;
	}
	.coverProjet{
		position:absolute;
		top:0;
		left:0;
		z-index:20;
		background-color:rgba(195,106,31,0.9);
		width:0%;
		height:100%;
		float:left;
		text-align:center;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.texteCover{
		color:white;
		opacity:0;
		-webkit-transition:200ms ease-out;
	    -moz-transition: 200ms ease-out;
	    -o-transition: 200ms ease-out;
	    transition: 200ms ease-out;
	}
	.coverProjet h2{
		font-family: 'bebas_neuebold';
		padding-top:65px;
	}
	.coverProjet h3{
		font-family: 'bebas_neue_regularregular';
	}
	.coverProjet p{
	    font-family: 'bebas_neuebook';	
	}
	.projet:hover  .coverProjet{
		width:100%;
		-webkit-transition:500ms ease-out;
	    -moz-transition: 500ms ease-out;
	    -o-transition: 500ms ease-out;
	    transition: 500ms ease-out;
	}
	.projet:hover .texteCover{
		opacity:1;
		-webkit-transition:1000ms ease-out;
	    -moz-transition: 1000ms ease-out;
	    -o-transition: 1000ms ease-out;
	    transition: 1000ms ease-out;
	}
	.projet{
		width:25%;
		float:left;
		z-index:10;
		height:auto;
		position:relative;
		overflow:hidden;
	}
	.imgProjet{
		max-width:100%;
		width:100%;
		z-index:1;
		position:relative;
	}
	/*/FIN PROJETS ACCUEIL/*/

/*/PAGE ACCUEIL FIN/*/
/*/PAGE PROGRAMME DÉBUT/*/

	/*/NAV PROGRAMME DÉBUT/*/
	.navProgramme{
		background-color:#3a5061;
		border-top:10px solid #5d7e8c;	
	}
	.navProgramme ul{
		text-align:center;
	}
	.navProgramme li{
		display:inline-block;
		padding:15px 2%;
		font-family: 'bebas_neuebold';
		color:white;
		cursor:  pointer;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	/*/NAV PROGRAMME FIN/*/
	/*/SECTION PROGRAMME DÉBUT/*/
	.sections{
		width:80%;
		padding:0 10%;
		max-height:0px;
		background-color:#ecf0f1;
		position:relative;
		overflow:hidden;
		height:auto;
		opacity:0%;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.sections img{
		max-width:100%;
	}
	.toggleProgramme{
		max-height:10000px!important;
		height:auto;
		opacity:100%;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.partieSection{
		width:100%;
		background-color:white;
		height:auto;
		position:relative;
		overflow:hidden;
	}
	.partieSection ul{
		 list-style-image:url("../images/flecheList2.png");
		 line-height:30px;
	}
	.textePartieSection{
		width:94%;
		border-left:10px solid #5d7e8c;
		color:#406375;
		padding:45px 3%;
		margin-top:-4px;
		height:auto;
		overflow:hidden;
	}
	.textePartieSection h2{
		font-family:'bebas_neuebold';
		margin-bottom:30px;
	}
	.separateurSection{
		width:20%;
		height:2px;
		background-color: #5d7e8c;
		display: block;
		margin:50px auto;
	}
	.blocSession{
		width:20%;
		padding:0 6% 0 6%;
		float:left;
	}
	.blocSession h3{
		font-family:'bebas_neuebold';
		margin-bottom:10px;
		font-size:1.5em;
	}
	.blocSession ul{
		font-family: 'Myriad Pro Regular';
		list-style-image:none;

	}
	.blocSession li{
		font-size:1em;
	}
	.hautBas{
		width:100%;
		height:auto;
		float:left;
		padding-bottom:30px;
	}
	/*/SECTION PROGRAMME FIN/*/

/*/PAGE PROGRAMME FIN/*/
